// Menu Button
.menu-btn {
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: 3;
    cursor: pointer;
    @include easeOut;
    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #fff;
        @include easeOut;
    }
    // Rotacija  Crtica hamburgera
    // sta se radi na klasi close
    &.close {
        transform: rotate(180deg);
        // samo crtice 
        .btn-line {
            //Line-1  Rotacija za 45ste i tranasl
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            //Line-2  Hide sa opacity
            &:nth-child(2) {
                opacity: 0;
            }
            //Line-3  Rotacija za -45ste i tranasl
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}